.paginator {
    margin: 10px;
}
.pageNumber{
    padding: 2px;
    border: 1px solid grey;
}

.pageNumber.selectedPage{
    font-weight: bold;
    cursor: pointer;
    border-color: black;
}
.pageNavigator{
    color: #09e20f;
}
.a[disabled]{
    color: #09e20f;
}

.ant-pagination-item a {
    color:red;
}

.test {
    color: red;
}

.ant-pagination-item {
    background-color: red;
}