.img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}
.selectedPage{
    font-weight: bold;
    cursor: pointer;
}
.selectedPages{
    cursor: pointer;
}

.bas{
    cursor: pointer;
}
.paginator{
    margin-top: 15px;
    margin-bottom: 20px;
}